.ruby-gemset
.ruby-version
nbproject
bin/fetch.sh
config/database.yml
config/secrets.yml
config/application.yml
config/nypl_repo.yml
log/*.log
log/*.log.tar.gz
tmp
secret
*.*.swp
*.*~
db/maptileindex/*
db/*.dump
fixtures/vcr_cassettes/*.yml
