<p>Thanks for signing up to use <%= APP_CONFIG['site_name'] %>!</p>

<p>
Welcome! The NYPL Map Warper is a participatory site where you can discover, georeference, and export objects from The New York Public Library's historical map collection. You can help the NYPL by digitally aligning ("rectifying") historical maps to a contemporary base map. You can also download the georeferenced image in a number of formats including KML, WMS, and Tiles.
</p>

<p>
Your account has been created and you can log in using the email: <%=h @user.email %> at 
<%= link_to url_for(new_user_session_url), new_user_session_url %>
</p>

