<ul id="legal-links"><li class="menu-55688 first"><a href="http://www.nypl.org/help/about-nypl/legal-notices/privacy-policy" title="" class="menu-55688 first">Privacy Policy</a></li> |  
  <li class="menu-55686 "><a href="http://www.nypl.org/help/about-nypl/legal-notices/rules-and-regulations" title="" class="menu-55686 ">Rules and Regulations</a></li> | 
  <li class="menu-55687 "><a href="http://www.nypl.org/help/computers-internet-and-wireless-access/a-safety-net-for-the-internet" title="" class="menu-55687 ">Using the Internet</a></li> | 
  <li class="menu-55685 "><a href="http://www.nypl.org/help/about-nypl/legal-notices/website-terms-and-conditions" title="" class="menu-55685 ">Website Terms and Conditions</a></li> | 
  <li class="menu-75465 "><a href="http://www.nypl.org/help/about-nypl/legal-notices/policy-gifts-materials" title="" class="menu-75465 ">Gifts of Materials to NYPL</a></li>
  <li class="0 last"><span title="Copyright" class="copyright">&copy; The New York Public Library, 2008 - <%=Time.now.year%></span></li> 
</ul> 

