<div class="header-globalAlerts">
  <div class="header-globalAlerts-box">
    <div class="header-globalAlerts-box-item">
      <div align="center">
        <p>The New York Public Library offers <%= link_to "grab-and-go", "https://www.nypl.org/about/grab-and-go" %> service at select locations as part of our <%= link_to 'gradual reopening', 'https://www.nypl.org/locations/directory' %>.</p>
      </div>
    </div>
  </div>
</div>