<div class="header-globalAlerts">
  <div class="header-globalAlerts-box">
    <div class="header-globalAlerts-box-item">
      <div align="center">
        <p>As of April 2021, Mapwarper will no longer be updated by NYPL, and will soon be archived. This means all embedded views utilizing Mapwarper will no longer work once the site is archived. However, all contributions and data will be retained by the Library for future use and research.</p>
        <p>Thank you for your interest and use of the tool. You can find our source code and documentation for Mapwarper and other NYPL projects <%= link_to 'here', 'https://github.com/nypl-spacetime/nypl-warper' %>.</p>
      </div>
    </div>
  </div>
</div>