<div id="nypl_bar">
  A <a href="http://www.nypl.org/">New York Public Library</a> website 
  <form>
    <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
      <option value="">Explore others!</option>
      <option value="http://www.nypl.org/">NYPL.org</option>
      <option value="http://catalog.nypl.org/">Catalog</option>
      <option value="http://www.nypl.org/">Research Tools</option>
      <option value="http://digitalcollections.nypl.org/">Digital Collections</option>

      <option value="http://exhibitions.nypl.org/">Exhibitions</option>
      <option value="http://nypl.org/blog/all">Blogs</option>
      <option value="http://m.nypl.org/">Mobile</option>
      <option value="http://www.facebook.com/newyorkpubliclibrary">on Facebook</option>
      <option value="http://twitter.com/nypl">on Twitter</option>
    </select>
  </form>
</div>
