<h2>Edit Import</h2>
<%= link_to "&lt; Browse imports".html_safe, imports_path %>

<p class="import-blurb">
  Choose an import to run. You will review the import before running it.<br /> <br />

  Import Map - imports a specific map, and any layers that map belongs to (but not the maps within those layers) <br />
  Import Layer - imports a layer, all the maps in that layer, and any layers those maps belong to (but not the maps within those other layers)<br /><br />
  
  Import Latest - imports maps within a timeframe. Imports any layers for thise maps (but not the maps within those layers). <br />
  After creating an Import Latest import, you will see the COUNT of the number of maps to be imported.<br />
  The Import Latest import will run in the background. You can refresh the page to see updated logs<br /><br />
  
  Imports can be deleted and edited before being run. Once run they cannot be altered.<br />
</p>

<div class="import_error_messages">
  <%= error_messages_for @import %>
</div>

<%= render :partial => "form" %>
