
<h2>Imports</h2>
<%= link_to 'Add new import', new_import_url %>
<%= will_paginate @imports %>
<table class="usertable">
  <thead>
    <tr>
      <th>Id</th>
      <th>Created At</th>
      <th>User</th>
      <th>Type</th>
      <th>UUID</th>
      <th>since-until</th>
      <th>Status</th>
      <th>Finished At</th>   
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "import", :collection => @imports %>
  </tbody>
</table>
<%= will_paginate @users %>

