<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>NYPL Map Warper: <%= h(@html_title) || ''-%> </title>
        <%= javascript_include_tag "jquery-1.3.2.min.js" %>
        <%= javascript_include_tag "jquery-ui-1.7.custom.min.js" %>
        <%= javascript_include_tag "jquery.pageless.js" %>
        <%= javascript_tag "jQuery.noConflict();" -%>
        <%= javascript_include_tag "prototype" %>
	<%= stylesheet_link_tag "styles" %>
	<%= yield :head %>
</head> 
<% if @onload -%>
 <body onload="<%=@onload%>">
<%else-%>
  <body>
  <%end%>
  <%= render :partial => 'shared/nypl_stripe' %> 

<div id="headerDiv" class="headerDiv">
		<h1><%= link_to "NYPL Map Warper", root_path %></h1>
	<%= render :partial => 'shared/header' %> 
		<%= render :partial => 'shared/nav' %> 
	</div>
 <%= breadcrumbs "application" %>
  
	<%= flash_messages %> 

	<%= yield %> 

        <div id="footer">
          New York Public Library
          <%= render :partial => 'shared/legal' %>
        </div>
        <%= render :partial => 'shared/analytics' %>	
      </body>
</html>

