<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>NYPL Map Warper <%=@is_caching_on -%></title>
	<link rel="stylesheet" href="../../stylesheets/styles.css" type="text/css" media="screen" title="no title" charset="utf-8" />


	  <%= yield :head %>
</head> 
<body>
  
    <ul>
    <% if logged_in? %>
    <li>Logged in as:</li>
    <li><%= link_to h(current_user.login.capitalize), user_path(current_user) %></li>
    <ul>
    <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
    <li><%= link_to "Change Password", change_password_path %></li>
    <li><%= link_to "Log Out", logout_url %></li>
      <li><%= link_to "Log In", new_session_path %></li>
    </ul>
    <% if current_user.has_role?("administrator") %>
      <li><%= link_to "Administer Users", users_path %></li>
      <li><%= link_to "Activity", :controller => "audits" %> </li>
    <% end %>
    <% else %>
    <li><%= link_to "Log In", new_session_path %></li>
    <li><%= link_to "Sign Up", new_user_path %></li>
    <li><%= link_to "Forgot Password?", forgot_password_path %></li>
    <% end %>
    </ul>
  
  <h1>NYPL Map Warper</h1>
<% if flash[:notice] %>
	<div id="notice"><%= h flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
	<div id="error"><%= h flash[:error] %></div>
<% end %>
<%= yield %> 
 


<%= render :partial => 'shared/nav' %> 

</body>
</html>

